{% load static %}

<div class="container-xl">
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
              integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{%static 'main/css/base.css'%}">

    </head>
    <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'index' %}">Test42</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'test_list' %}"> Tests <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'leaderboard_list' %}"> Leaderboard</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                {% if user.is_authenticated %}

                <div class="media">
                    <div class="img-circle.vert">
                        <img class="rounded-circle p-1 m-1" width="50" height="50" src="{{ user.image.url }}">
                    </div>
                </div>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">Profile({{ user.username }})</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'registration' %}">Register</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <h3>{{title}}</h3>

    <div class="border rounded text-center p-3 m-3 bg-light text-dark">
        <h1>{% block title %}{{ title }}{% endblock %}</h1>
    </div>

    {%block content %}
    {%endblock%}


</div>