{% extends 'base.html' %}

{%block content%}
<form enctype="multipart/form-data">
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th></th>
            <th>Title</th>
            <th>Description</th>
            <th>Level</th>
            <th></th>
        </tr>
        </thead>
        {% for test in test_list %}
        <tr>
            <td>
                <div class="media">
                <div class="img-circle.vert">
                    <img width="90" height="90" src="{{ test.image.url }}">
                </div>
                </div>
            </td>
            <td> {{ test.title }}</td>
            <td> {{ test.description }}</td>
            <td> {{ test.level }}</td>

            <td><a href="{% url 'start' test.id %}" class="btn btn-success">START</a></td>


        </tr>
        {% endfor %}
    </table>
</form>
{% include 'includes/pagination.html' %}

{%endblock%}
